<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/lego_leg_test"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lego_leg_test"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="33">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/NoActionBar">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".practice.PracticeActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".candidate.PreparationActivity"
            android:exported="false"
            android:parentActivityName=".candidate.CandidateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".candidate.OfficiallyActivity"
            android:exported="false"
            android:parentActivityName=".candidate.CandidateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".candidate.QuestionAnswerActivity"
            android:exported="false"
            android:parentActivityName=".candidate.CandidateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".candidate.CandidateActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".today.RegimentsDetailsActivity"
            android:exported="false"
            android:parentActivityName=".today.RegimentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".today.RegimentsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".history.TraditionActivity"
            android:exported="false"
            android:parentActivityName=".history.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".history.WarActivity"
            android:exported="false"
            android:parentActivityName=".history.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".history.HistoryCreateActivity"
            android:exported="false"
            android:parentActivityName=".history.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".history.HistoryActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>
</manifest>